* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

/* NavBar */
.navbar-brand {
    font-family: 'Orbitron';
    cursor: pointer;
}

.search {
    width: 300px;
}

/* Main Content */
.main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Sidebar */
.sidebar {
    width: 400px;
    border-radius: 10px;
}

.profile-img {
    border-radius: 100%;
    width: 200px;
}

.phone-number {
    color: grey;
    font-size: 16px;
}

.action-link a {
    width: 200px;
}


/* Products */
.products {
    width: 1500px;
    border-radius: 20px;
    overflow-y: auto;
    height: 100vh;
    border-radius: 10px;
}

.card {
    cursor: pointer;
    width: 350px;
    border-radius: 10px;
    background:linear-gradient(180deg, rgb(251, 253, 235), white) ;
    transition: 0.2s ease-in;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s ease-out;
}

.card-img-top {
    height: 300px;
}

.card-title {
    text-align: center;
}

.card-description {
    text-align: center;
    color: grey;
}

h6 {
    padding-top: 12px;
}

.quantity {
    border: none;
    border-top: 1px solid black;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.quantity-button {
    display: flex;
    gap: 15px;
}

.quantity-button button {
    font-size: 20px;
    width: 60px;
    height: 40px;
}

.count {
    padding: 10px;
}

.success-message {
    font-size: 1.2rem;
    color: green;
}

.error-message {
    font-size: 1.2rem;
    color: red;
}