* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

.navbar-brand {
    font-family: 'Orbitron';
    cursor: pointer;
}

.container {
    border: 1px;
    border-radius: 15px;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px grey;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    color: grey;
}

input {
    text-align: center;
    width: 400px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    transition: 0.15 ease-out;
}

input:focus {
    border-bottom: 1px solid rgb(146, 146, 4);
    transition: 0.15s ease-in;
}

button {
    width: 200px;
}

a {
    text-decoration: none;
}

/* Flash Messages */
.success-message {
    color: green;
}

.error-message {
    color: red;
}