* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: 'Poppins';
}

/* NavBar */
.navbar-brand {
    font-family: 'Orbitron';
    cursor: pointer;
}

/* Flash Messages */
.success-message {
    color: green;
}

.error-message {
    color: red;
}